
.links ul {
 list-style: none;
 margin-top: 25px;
 padding: 0px;
 display: grid;
 grid-gap: 0px;
 font-size: 14px;
 grid-template-columns: repeat(10, 10%);
}

.links a {
 color: grey;
 text-decoration: none;
 font-family: sans-serif;
}

.links a:hover {
 color: grey;
 text-decoration: underline;
}





/* MEDIA QUERIES */
@media(min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
 .footer {
   padding: 20px 220px 40px;
 }
 
}

@media (min-width: 768px) and (max-width: 991px) {

 .links ul {
   display: grid;
   grid-gap: 15px;
   grid-template-columns: repeat(3, 1fr);
 }
  .footer {
   padding: 20px 100px 40px;
   height: auto;
  }
  
}

@media (min-width: 542px) and (max-width: 768px) {
 .links ul {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(2, 1fr);
}
 .footer {
  padding: 20px 75px 40px;
  height: auto;
}
}

@media(min-width: 320px)  and (max-width: 541px) {

 .links ul {
   display: grid;
   grid-gap: 5px;
   font-size: 12px;
   grid-template-columns: repeat(1, 1fr);
   text-align: center;
}  
 .footer p {
  text-align: center;
  font-size: 15px;
}
 .footer {
  padding: 20px 10px 20px;
  height: auto;
}
}
